<div class="row">

  <div class="small-6 small-centered column">

    <p>Message destiné à <%=@user.name%></p>

  	<%= form_tag(messages_path) do  %>
      <%= hidden_field_tag :user_id, @user.id %> 
      <%= text_field_tag :subject, nil, :placeholder => "Sujet" %>
      <%= text_area_tag :message, nil, :placeholder => "Message" %>
      <%= submit_tag "Envoyer", :class => "submit" %>
    <% end %>

  </div>

</div>