<div class="row">

  <div class="small-6 small-centered column">

    <h3>Choisir un destinataire</h3>

  	<%= form_tag(messages_path) do  %>
      <%= render 'receiver_choice' %>
      <%= text_field_tag :subject, nil, :placeholder => "Sujet" %>
      <%= text_area_tag :message, nil, :placeholder => "Message" %>
      <%= submit_tag "Envoyer", :class => "submit" %>
    <% end %>

  </div>

</div>