<div class="row">

  <div class="small-8 small-centered column">

  	<h2>Demandes de contact en attente</h2>

		<%if current_user.requested_targets.any? %>

			<% current_user.requested_targets.each do |t|%>
				<div class="requete_contact">
					<%= image_tag t.avatar.url(:thumb) %>
					<%= t.name %>
					<%= t.age %>
					<%= t.ville %>
					<%= link_to "Profil", user_path(id: t.id), class: "button"%>
					<%= link_to "Accepter", accepter_contact_path(target_id: t.id), class: "button"%>
					<%= link_to "Refuser", refuser_contact_path(target_id: t.id), class: "button"%>
				</div>		
			<%end%>

		<%else%><p>Pas de demande de contact</p>
		<%end%>

  	<h2>Conversations en cours</h2>

  	<%if current_user.mailbox.conversations.any?%>
  	
		<%@conversations.each do |conv|%>
		    <div class="ligne_conversation">
		    <ul>
		    	<%= link_to conversation_path(conv.id) do%>
			        <li>
			        	<%correspondant=conv.participants.find do |u|%>
  								<%u.id != current_user.id%>
						<% end %>

			        	<%=image_tag correspondant.avatar.url(:thumb) %>
			        	<%=correspondant.name%>			        
			        	<%=conv.messages.last.body%>
			        </li>
			    <% end %>
		    </ul></div>
		<% end %>
		
	<%else%>
		<p>Pas de message pour l'instant</p>
	<%end%>	
	<br/>
  	
  </div>

</div>