<div class="row">

  <div class="small-8 small-offset-1 column">

  	    <div class="small-5 small-offset-1 column">
  	    	<%= image_tag @target.avatar.url(:thumb) %>
  	    	<%= @target.name %>
  	    </div>

  	    <div class="small-4 small-offset-1 column">
  	    	<%= image_tag current_user.avatar.url(:thumb) %>
  	    	<%= current_user.name%> 
  	    </div>

  	    <div class="small-1 column"></div>
  </div>

  <div class="small-3 column">
  	Jeux
  </div>

</div>

<div class="row">

  <div class="small-8 small-offset-1 column">

  	<%@conversation.messages.each do |message|%>

  		<div class="row">

	  		<div class="small-5 column ligne_message">			  		
			  	<%if message.sender_id==@target.id%>
			  		<div class="bloc_message"><%= message.body %></div>				
				<%end%>						
			</div>

	  	    <div class="small-5 small-offset-1 column ligne_message">			  		
				<%if message.sender_id==current_user.id%>
					<div class="bloc_message"><%= message.body %></div>			
				<%end%>						
			</div>

  	    	<div class="small-1 column"></div>
  	    </div>
  	    
  	<%end%>	
  </div>

  <div class="small-3 column"></div>

</div>
 
<div class="row">

	<div class="small-8 small-offset-1 column">
		<div class="formulaire_reponse">
			<%= render 'reply_form' %>
		</div>
	</div>

	<div class="small-3 column"></div>
</div>
	