<div class="row">

  <div class="small-6 small-centered column">

    <div class="form">

      <%= form_for current_user do |f| %>

        <div class="avatar">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>

        <%= f.label :age %>
        <%= f.number_field :age %>

        <%= f.label :sexe %>
        <%= f.text_field :sexe %>

        <%= f.label :orientation %>
        <%= f.text_field :orientation %>

        <%= f.label :ville %>
        <%= f.text_field :ville %>

        <%= f.label :cheveux %>
        <%= f.text_field :cheveux %>

        <%= f.label :yeux %>
        <%= f.text_field :yeux %>

        <%= f.label :taille %>
        <%= f.number_field :taille %>

        <%= f.label "Type physique" %>
        <%= f.text_field :bodytype %>

        <%= f.label :profession %>
        <%= f.text_field :profession %>

        <%= f.label :religion %>
        <%= f.text_field :religion %>

        <%= f.label "Signe astral" %>
        <%= f.text_field :astral %>

        <div class="submit">
          <%= f.submit %>
        </div>

      <% end %>
    </div>

  </div>

</div>