<div class="row">

	<div class="small-6 small-centered column">

		<h2>Liste des utilisateurs</h2>
		<ul>			
			<% @user.each do |u| %>
				<li class="list_users"><a href="/users/<%=u.id%>"><%= image_tag u.avatar.url(:thumb) %> <%=u.name%>
					<%=u.age%> ans <%=u.ville%></a>
				</li>
			<%end%>
		</ul>
	
	</div>

</div>
