<div class="row">

	<div class="small-6 small-centered column">

	<h1>Liste des utilisateurs</h1>

		<ul>
			
			<% @user.each do |u| %>

			<li class="list_users"><a href="/users/<%=u.id%>"><%= image_tag u.avatar.url(:thumb) %> <%=u.name%></a>
				<%=u.age%> <%=u.sexe%> <%=u.ville%>
			</li>

			<%end%>

		</ul>

	</div>
	
</div>
