<h2>Zone de recherche</h2>
<div class="row">

	<div class="small-4 column colonne_criteres panel">

		<!-- formulaire de recherche  -->
		<%= search_form_for @q do |f| %>
		
		<div class="bouton_recherche">
			<%= f.submit "Lancer la recherche", class: "button" %>
		</div>

		<div class="row">
			
				<div class="small-5 column">
					<%= f.label(:sexe_cont, "Sexe", class: "inline")%>
				</div>

				<div class="small-7 column">
			        <%= f.select(:sexe_cont, options_for_select([[nil],['Masculin'], ['Féminin'], ['Autre']], @q.sexe_cont)) %>
			    </div>
			 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:orientation_cont, "Orientation", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.select(:orientation_cont, options_for_select([[nil],['Hétérosexuel'], ['Homosexuel'], ['Bisexuel']], @q.orientation_cont)) %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:age_gt, "Age minimum", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.number_field(:age_gt) %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:age_lt, "Age maximum", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.number_field(:age_lt) %>
		    </div> 
		</div>
	    
	    <div class="row">
			<div class="small-5 column">
				<label for="localisation" class="center inline">(Localisation)</label>
			</div>

			<div class="small-7 column">
				<select for="localisation">
					<option selected></option>
			        <option value=5>- de 5 km</option>
			        <option value=10>- de 10 km</option>
			        <option value=50>- de 50 km</option>
		        </select>	
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="avec_photo" class="center inline">(Avec une photo)</label>
			</div>

			<div class="small-7 column">
				<select for="localisation">
					<option selected></option>
			        <option value="oui">Oui</option>
			        <option value="non">Non</option>
		        </select>	
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:cheveux_cont, "Cheveux", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.select(:cheveux_cont, options_for_select([[nil],['Bruns'], ['Châtains'], ['Roux'], ['Blonds'], ['Blancs'], ['Custom'], ['Rares']], @q.cheveux_cont)) %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:yeux_cont, "Yeux", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.select(:yeux_cont, options_for_select([[nil],['Noirs'], ['Marrons'], ['Verts'], ['Bleus']], @q.yeux_cont)) %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:taille_gt, "Taille minimum", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.number_field(:taille_gt, placeholder: "En centimètres") %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:taille_lt, "Taille maximum", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.number_field(:taille_lt, placeholder: "En centimètres") %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:bodytype_cont, "Type physique", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.select(:bodytype_cont, options_for_select([[nil],['Mince'], ['Sportif'], ['Classique'], ['Rond'], ['Pulpeux']], @q.bodytype_cont)) %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="profession" class="center inline">(Profession)</label>
			</div>

			<div class="small-7 column">
				<input type="text" for="profession"/>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="religion" class="center inline">(Religion)</label>
			</div>

			<div class="small-7 column">
				<input type="text" for="religion"/>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<%= f.label(:astral_cont, "Signe Astral", class: "inline")%>
			</div>

			<div class="small-7 column">
				<%= f.select(:astral_cont, options_for_select([[nil],['Capricorne'], ['Verseau'], ['Poissons'], ['Bélier'], ['Taureau'], ['Gémeaux'], ['Cancer'], ['Lion'], ['Vierge'], ['Balance'], ['Scorpion'], ['Sagitaire']], @q.astral_cont)) %>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="regime_alimentaire" class="center inline">(Régime)</label>
			</div>

			<div class="small-7 column">
				<select for="regime_alimentaire">
					<option selected></option>
			        <option value="tout">Mange de tout</option>
			        <option value="vegetarien">Végétarien</option>
			        <option value="vegetalien">Végétalien</option>
			        <option value="interdits_religieux">Interdits religieux</option>
		        </select>	
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="badges" class="center inline">(Badges)</label>
			</div>

			<div class="small-7 column">
				<select for="badges">
					<option selected></option>
			        <option value="1">1</option>
			        <option value="2">2</option>
		        </select>	
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="resultat_test_1" class="center inline">(Résultat test 1)</label>
			</div>

			<div class="small-7 column">
				<select for="resultat_test_1">
					<option selected></option>
			        <option value="1">1</option>
			        <option value="2">2</option>
		        </select>	
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="resultat_test_2" class="center inline">(Résultat test 2)</label>
			</div>

			<div class="small-7 column">
				<select for="resultat_test_1">
					<option selected></option>
			        <option value="1">1</option>
			        <option value="2">2</option>
		        </select>	
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="pseudo" class="center inline">(Pseudo)</label>
			</div>

			<div class="small-7 column">
				<input type="text" for="pseudo"/>
		    </div> 
		</div>

		<div class="row">
			<div class="small-5 column">
				<label for="mot_cle" class="center inline">(Mot clé)</label>
			</div>

			<div class="small-7 column">
				<input type="text" for="mot_cle"/>
		    </div> 
		</div>

		<div class="bouton_recherche">
			<%= link_to "Lancer la recherche", "#", class: "button" %>
		</div>

	<%end%>   

	</div>

	<!-- affichage des résultats  -->
	
	<div class="small-4 column">
		<% @user.each do |u| %>
			<div class="item_list_users">
				<%if u.id%2==1%>
					<%= link_to user_path(u.id) do %>
						<%= image_tag u.avatar.url(:thumb) %> <%=u.name%>
							<%=u.age%> ans <%=u.ville%>
					<%end%><br><hr>
				<%end%>		
			</div>
		<%end%>	
	</div>
	

	<div class="small-4 column">
		<% @user.each do |u| %>
			<div class="item_list_users">
				<%if u.id%2==0%>
					<%= link_to user_path(u.id) do %>
						<%= image_tag u.avatar.url(:thumb) %> <%=u.name%>
							<%=u.age%> ans <%=u.ville%>
					<%end%><br><hr>
				<%end%>		
			</div>
		<%end%>
	</div>
	
</div>
